 * {
    --accent-color: #463F3A;
    --backgroundColor: #f4f3ee;
    --default-padding: 15px;
 }


html, body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    background-color: var(--backgroundColor);
}

.mainTheme {
    
}

.appWrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-rows: min-content 1fr min-content;

    width: 100%;
    min-height: 100vh;
    height: 100vh;
}

.appWrapper .header {
    position: relative;

    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;

    background-color: var(--accent-color);

    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);

    padding: var(--default-padding);

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
}

.appWrapper .header .logoSection {
    position: relative;

    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 1;
    grid-row-end: 2;

    padding-right: var(--default-padding);
    max-height: 80px;
}

.appWrapper .header .logoSection img {
    display: block;
    width: 230px;
    height: 80px;

    object-fit: none;
    object-position: center center;


}

.appWrapper .header .menuSection {
    position: relative;

    grid-column-start: 2;
    grid-column-end: 3;
    
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items:center;

    color: #f4f3ee;
}

.appWrapper .header .menuSection .menuItem {
    position: relative;
    padding-right: var(--default-padding);
}

.appWrapper .body {
    position: relative;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;
}

.appWrapper .footer {
    position: relative;
    background-color: #666666;

    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;
}